:root {
    --bg-color: #0b0f1e;
    --text-color: #c5cbed;
    --bg-light: #0f172a;
    --accent-color: #00b7c2;
    --button-dark: #1f2937;
    --button-light: #d1d5db;
    --button-accent: #00b7c2;
    --button-hover: #94a3b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', monospace;
    user-select: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcContainer {
    background: var(--bg-light);
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.display {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--text-color);
    height: 80px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.display h1 {
    white-space: nowrap;
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnRow {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.btn {
    background: var(--button-dark);
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    transition: background 0.2s ease, transform 0.2s ease;
}

.btn:hover {
    background: var(--button-hover);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(2px);
}

.btnRow:last-child>.btn:nth-child(3) {
    background: var(--button-accent);
    color: white;
}

.smRow>button:nth-child(1),
.smRow>button:nth-child(2) {
    background: var(--button-light);
    color: var(--bg-color);
}

.btn p {
    font-size: 1.4rem;
    margin: 0;
}

